<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список забронированных билетов</title>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link th:href="@{/resources/css/background.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/nav.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/tickets_list.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="card form-tickets-list">
    <div class="card-header" sec:authorize="hasAnyAuthority('ADMIN')">Список всех забронированных билетов в системе</div>
    <div class="card-header" sec:authorize="hasAnyAuthority('USER')">Список моих забронированных билетов</div>
    <div class="card-header"><p style="color: red" th:if="${error}" th:text="${error}"></p></div>
    <div class="card-body">
        <table class="table table-sm" id="bookings">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Паспорт</th>
                <th scope="col">Адрес</th>
                <th scope="col">Id пользователя</th>
                <th scope="col">Id билета</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${booking}">
                <th scope="row" th:text="${item.id}"></th>
                <td th:text="${item.name}"></td>
                <td th:text="${item.surname}"></td>
                <td th:text="${item.passport}"></td>
                <td th:text="${item.address}"></td>
                <td th:text="${item.user.username}"></td>
                <td th:text="${item.ticket.id}"></td>
                <td>
                    <form class="form-inline my-0 my-lg-0" th:action="@{/ticket/remove}" method="post" sec:authorize="hasAnyAuthority('USER')">
                        <input type="hidden" name="ticket_id" th:value="${item.id}">
                        <button type="submit" class="btn btn-outline-success btn-thin">Удалить</button>
                    </form>
                    <form class="form-inline my-0 my-lg-0 mt-1" th:action="@{/ticket/booking/download}" method="get">
                        <input type="hidden" name="booking_id" th:value="${item.id}">
                        <button type="submit" class="btn btn-outline-success btn-thin mt-1">Напечатать</button>
                    </form>
                    <button type="button" class="btn btn-outline-success btn-thin mt-1"
                            data-toggle="modal" data-target="#modal" th:value="${item.id}">
                        Отправить на Email
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Ввод Email для отправки билета</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-inline my-0 needs-validation" th:action="@{/ticket/booking/send_email}" method="get">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Введите email</span>
                                    </div>
                                    <input type="hidden" id="booking_id" name="booking_id">
                                    <input id="email" type="text" class="form-control" name="email"
                                           pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b"
                                           placeholder="qwerty@mail.ru" required />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#bookings').dataTable();
    });

    $("body").on('show.bs.modal', '#modal', function (event) {
        let input = $("#modal #booking_id")[0];
        input.setAttribute("value", event.relatedTarget.value);
        console.log(input.getAttribute("value"));
    });
</script>
</html>